body{
    margin: 0;
    font-family: Arial, sans-serif;
}

* {
    font-family: Arial, sans-serif;
}

.button{
    padding: 15px 20px;

}

.small-label{
    font-size: 15px;
    margin-right: 5px;
}

.form-group {
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
}

.form-group label {
    width: 80px; /* 라벨 고정 너비 */
    margin-right: 10px; /* 라벨과 input 사이 간격 */
}

.icon-text {
    display: flex;          /* 가로 정렬 */
    align-items: center;    /* 세로 가운데 맞춤 */
    gap: 10px;              /* 이미지와 글자 사이 간격 */
}

.navbar{
    background-color: #007bff; /* 파란색 배경 */
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
}

.navbar .menu a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

.navbar .menu a:hover {
      text-decoration: underline;
}

.check-title {
    font-weight: bold;
    padding: 15px 20px;
    font-size: 20px;
    margin-bottom: 10px;
}

.check-details {
    display: flex;
    gap: 20px;
    font-size: 15px;
}

.check-detail {
    flex: 1;
    padding: 15px 20px;
    text-align: left;
    font-weight: bold;
}